<table class="mart">
  <thead>
    <tr>
      <th>Pour avoir...</th>
      <th>Utiliser...</th>
      <th>Par exemple...</th>
      <th>Le résultat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Texte en italique</td>
      <td><code>*</code></td>
      <td>Bonjour et *bon matin*</td>
      <td>Bonjour et <em>bon matin</em></td>
    </tr>
    <tr>
      <td>Texte en gras</td>
      <td><code>**</code></td>
      <td>Bonjour et **bon matin**</td>
      <td>Bonjour et <strong>bon matin</strong></td>
    </tr>
    <tr>
      <td>Texte en gras italique</td>
      <td><code>***</code></td>
      <td>Bonjour et ***bon matin***</td>
      <td>Bonjour et <strong><em>bon matin</em></strong></td>
    </tr>
    <tr>
      <td>Liste ordonnée</td>
      <td><code>1.</code> <code>2.</code> etc.</td>
      <td>Chose à faire aujourd'hui...<br>1. Premier item<br>2. Deuxième item</td>
      <td>Chose à faire aujourd'hui...<br><ol><li>Premier item</li><li>Premier item</li></ol></td>
    </tr>
    <tr>
      <td>Liste non ordonnée</td>
      <td><code>-</code></td>
      <td>Chose à faire aujourd'hui...<br>- Premier item<br>- Deuxième item</td>
      <td>Chose à faire aujourd'hui...<br><ul><li>Premier item</li><li>Premier item</li></ul></td>
    </tr>
    <tr>
      <td>Entête principale</td>
      <td><code>#</code></td>
      <td># Merde !</td>
      <td><h1>Merde !</h1></td>
    </tr>
    <tr>
      <td>Entête secondaire</td>
      <td><code>##</code></td>
      <td>## Les astuces</td>
      <td><h2>Les astuces</h2></td>
    </tr>
    <tr>
      <td>Entête de troisième niveau</td>
      <td><code>###</code></td>
      <td>### N'oublié pas...</td>
      <td><h3>N'oublié pas...</h3></td>
    </tr>
    <tr>
      <td>Effet bouton</td>
      <td><code>`</code></td>
      <td>Appuyer sur `Entrée`</td>
      <td>Appuyer sur <code>Entrée</code></td>
    </tr>
  </tbody>
</table>
